<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BE-TRANSSE 乗降状況分析システム</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/stylesheet.css">
  </head>
  <body style="padding-Top:50px">
    <header>
       <nav class="navbar fixed-top navbar-expand-md navbar-dark">
        <span class = "navbar-brand">BE-TRANSSE Analytics</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#trg-navi" aria-controls="trg-navi" aria-expanded="false" aria-label="ナビゲーション切替">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="trg-navi">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">日別実績</a>
              <div class="dropdown-menu" aria-labelleady="navbarDropdownMenu">
                <a class="dropdown-item" href="#">日別路線系統別実績</a>
                <a class="dropdown-item" href="#">日別停留所別実績</a>
                <a class="dropdown-item" href="#">日別時間帯別実績</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">月別実績</a>
              <div class="dropdown-menu" aria-labelleady="navbarDropdownMenu2">
                <a class="dropdown-item" href="#">月別路線系統別実績</a>
                <a class="dropdown-item" href="#">月別停留所別実績</a>
                <a class="dropdown-item" href="#">月別時間帯別実績</a>
              </div>
            </li>
            <li><a class="nav-link" href="/logout">ログアウト</a></li>
          </ul>
          <form class="fprm-inline my-2 my-lg-0">

          </form>
        </div>
      </nav>
      <!-- <div class="header-left">
          <p>テスト環境</p>
      </div>
      <div class="header-right">
        <a href="#" class="login">ログイン</a>
      </div>-->
    </header>
    <div class="container">
      <div class="top-wrapper">
        <h1>Dashboard</h1>
        <h3>路線別乗降売上実績表（前日）</h3>
        <table class="table table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col"></th>
              <th scope="col">見出し</th>
              <th scope="col">見出し</th>
              <th scope="col">見出し</th>
              <th scope="col">見出し</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">見出し</th>
              <td>データセル</td>
              <td>データセル</td>
              <td>データセル</td>
              <td>データセル</td>
            </tr>
            <tr>
              <th scope="row">見出し</th>
              <td>データセル</td>
              <td>データセル</td>
              <td>データセル</td>
              <td>データセル</td>
            </tr>
            <tr>
              <th scope="row">見出し</th>
              <td>データセル</td>
              <td>データセル</td>
              <td>データセル</td>
              <td>データセル</td>
            </tr>
            <tr>
              <th scope="row">見出し</th>
              <td>データセル</td>
              <td>データセル</td>
              <td>データセル</td>
              <td>データセル</td>
            </tr>
            <tr>
              <th scope="row">見出し</th>
              <td>データセル</td>
              <td>データセル</td>
              <td>データセル</td>
              <td>データセル</td>
            </tr>
          </tbody>
        </table>
        <!--//各グラフ・集計要素ごとにカードで表示*-->
        <ul class="chart-wrapper">
          <li><canvas id="myLineChart"></canvas></li>
          <li><canvas id="myBarChart"></canvas></li>
          <li><canvas id="myRaderChart"></canvas></li>
        </ul>

      </div>
    </div>





    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script>
       var ctx = document.getElementById("myLineChart");
       var myLineChart = new Chart(ctx, {
         type: 'line',
         data: {
           labels: ['8月1日', '8月2日', '8月3日', '8月4日', '8月5日', '8月6日', '8月7日'],
           datasets: [
             {
               label: '稲毛',
               data: [3500, 3400, 3700, 3500, 3400, 3500, 3400, 2500],
               borderColor: "rgba(255,0,0,1)",
               backgroundColor: "rgba(0,0,0,0)"
             },
             {
               label: 'ベイタウン',
               data: [2500, 2700, 2700, 2500, 2600, 2700, 2500, 2100],
               borderColor: "rgba(0,0,255,1)",
               backgroundColor: "rgba(0,0,0,0)"
             }
           ],
         },
         options: {
           title: {
             display: true,
             text: '乗降人員推移'
           },
           scales: {
             yAxes: [{
               ticks: {
                 suggestedMax: 4000,
                 suggestedMin: 0,
                 stepSize: 500,
                 callback: function(value, index, values){
                   return  value
                 }
               }
             }]
           },
         }
       });
   </script>
   <script>
    var ctx = document.getElementById("myBarChart");
    var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['8月1日', '8月2日', '8月3日', '8月4日', '8月5日', '8月6日', '8月7日'],
        datasets: [
          {
            label: 'A店 来客数',
            data: [62, 65, 93, 85, 51, 66, 47],
            backgroundColor: "rgba(219,39,91,0.5)"
          },{
            label: 'B店 来客数',
            data: [55, 45, 73, 75, 41, 45, 58],
            backgroundColor: "rgba(130,201,169,0.5)"
          },{
            label: 'C店 来客数',
            data: [33, 45, 62, 55, 31, 45, 38],
            backgroundColor: "rgba(255,183,76,0.5)"
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: '支店別 来客数'
        },
        scales: {
          yAxes: [{
            ticks: {
              suggestedMax: 100,
              suggestedMin: 0,
              stepSize: 30,
              callback: function(value, index, values){
                return  value +  '人'
              }
            }
          }]
        },
      }
    });
    </script>
    <script>
    var ctx = document.getElementById("myRaderChart");
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ["英語", "数学", "国語", "理科", "社会"],
            datasets: [{
                label: 'Aさん',
                data: [92, 72, 86, 74, 86],
                backgroundColor: 'RGBA(225,95,150, 0.5)',
                borderColor: 'RGBA(225,95,150, 1)',
                borderWidth: 1,
                pointBackgroundColor: 'RGB(46,106,177)'
            }, {
                label: 'Bさん',
                data: [73, 95, 80, 87, 79],
                backgroundColor: 'RGBA(115,255,25, 0.5)',
                borderColor: 'RGBA(115,255,25, 1)',
                borderWidth: 1,
                pointBackgroundColor: 'RGB(46,106,177)'
            }]
        },
        options: {
            title: {
                display: true,
                text: '試験成績'
            },
            scale:{
                ticks:{
                    suggestedMin: 0,
                    suggestedMax: 100,
                    stepSize: 10,
                    callback: function(value, index, values){
                        return  value +  '点'
                    }
                }
            }
        }
    });
    </script>
  </body>
</html>
